html, body {
    font-family: sans-serif;
}
body {
    // height: 2000px;
    margin: 15px;
    font-size: 1.1rem;
    background-color: rgb(228, 228, 228);
}

.editArea {
    padding: 5px;
    width: 350px;
    height: 150px;
    border: 1px solid #000;
}
.editTextarea {
    padding: 5px;
    width: 350px;
    height: 150px;
    font-size: 1.1rem;
    font-family: sans-serif;
    border: 1px solid #000;
    
    &:focus{
        padding: 3px;
        border: 3px solid blue;
        outline: none;
    }
}

/* общие стили для таблицы, изменять их не нужно */

th {
    text-align: center;
    font-weight: bold;
  }
  
  td {
    width: 150px;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
  }
  
  .nw {
    background-color: #999;
  }
  
  .n {
    background-color: #03f;
    color: #fff;
  }
  
  .ne {
    background-color: #ff6;
  }
  
  .w {
    background-color: #ff0;
  }
  
  .c {
    background-color: #60c;
    color: #fff;
  }
  
  .e {
    background-color: #09f;
    color: #fff;
  }
  
  .sw {
    background-color: #963;
    color: #fff;
  }
  
  .s {
    background-color: #f60;
    color: #fff;
  }
  
  .se {
    background-color: #0c3;
    color: #fff;
  }

.textarea-in-cell{
    display: block;
    padding: 3px 0 0 3px;
    width: 165px;
    height: 100px;
    resize: none;
    border: none;
    &:focus{
        outline: none;
    }
}

.control-buttons{
    position: absolute;
}

#mouse{
    display: inline-block; 
    cursor: pointer; 
    margin: 0;
    border: 1px solid transparent;
    &:focus{
        outline: none;
        border: 1px dashed rgb(211, 16, 185);
    }
}

.task4 {
    font-size: 16px;
}
.deposit-calculator{
    max-width: 500px;
    & fieldset:not(:last-child){ // Кроме блока вывода значений
        border: none;
        margin: 0;
        padding-bottom: 5px;
        :last-child{ 
            float: right;
            width: 150px;
        }
        
    }
    input[type="number"]{
        width: 142px !important; 
    }
}

.calculator-out{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
    .before, .after {
        min-width: 146px;
    }
}